body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url('https://your-image-url.com/background.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex; 
    width: 100%;
    
  }

.logo-intelliBONDS{
    margin: 0;
    padding: 0;
    width: 100px;
    background-color: rgb(22, 22, 70);
    color: white;
    display: flex;
    height: 10%;
}